<header id="header">
    <div class="top">
        <div>
            <h1>
				<a href="javascript:void(0);">
					<img src="../../resources/images/logo.png" alt="오릭스캐피탈코리아">
				</a>
			</h1>
            <div class="h-menu on">
                <div class="nav-btn">
                    <a href="javascript:void(0);" class="ham">
                        <img src="../../resources/images/nav_btn.png" alt="메뉴아이콘">
                    </a>
                    <a href="javascript:void(0);" class="close">
                        <img src="../../resources/images/close.png" alt="닫기버튼">
                    </a>
                </div>
                <ul class="menu">
                    <li><a href="javascript:void(0);">신차</a></li>
                    <li><a href="javascript:void(0);">금융</a></li>
                    <li><a href="javascript:void(0);">게시판</a></li>
                    <li><a href="javascript:void(0);">이용안내</a></li>
                    <li><a href="javascript:void(0);">고객관리</a></li>
                    <li><a href="javascript:void(0);">마이페이지</a></li>
                </ul>
                <ul class="menu-r">
                    <li><a href="javascript:void(0);">오릭스캐피탈 강남지점 <span>오릭스(orix)</span>님</a></li>
                    <li><a href="javascript:void(0);" class="btn-primary">로그아웃</a></li><!--로그인 했을 때-->
                    <!--<li><a href="javascript:void(0);">로그인</a></li>로그인 전에-->
                </ul>
            </div>
        </div>
    </div>
</header>
