<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="ORIX Capital keywords">
    <meta name="description" content="ORIX Capital description">

	<meta property="og:locale" content="ko_KR" />
	<meta property="og:type" content="website" />

	<link href="../../resources/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/renewal.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/content.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../../resources/js/jquery.js"></script>
    <script type="text/javascript" src="../../resources/js/default.js"></script>
    <script type="text/javascript" src="../../resources/js/jquery-1.9.1.min.js"></script>


</head>
<style>
    .contents.guide { padding:15px; }
    .guide .code h4 { margin-bottom:5px; }
    /* color css */
    .guide .code .border { margin-bottom:20px; padding:20px; border:1px solid #33333323; border-radius:15px; }
    .btn-wrap > span{  display:inline; font-weight:bold; }
    .btn-wrap > button,
    .btn-wrap > a {  margin-bottom:10px; }
    .flex { display:flex; align-items: center; }
    .onclick { padding:10px 0; color:#ffffff; text-align:center; background-color:#0F3862; border-radius:20px; cursor:pointer; }
</style>
<body>
    <div class="wrap">
        <div id="contentWrap" class="sub-content">
            <div class="contents-wrap">
                <div class="contents guide">
					<div class="code">
						<section>
                            <h4>모바일 팝업(특정 id값만 열림-pc에서는 안 열림)</h4>
							<div class="border">
								<div class="onclick" onclick="openPopup('estimate1')">풀팝업</div>
							</div>
                            <h4>pc버전-scroll</h4>
							<div class="border">
								<div class="onclick" onclick="openPopup('termsPop01')">풀팝업</div>
							</div>
						</section>
					</div>
				</div>
            </div>
        </div>
    </div>

    <!-- 인크루드 퍼블용 스크립트 :  개발에서는 사용안함-->
	<script>
        $(function(){
            $('div[data-include-path]').each(function(){
                var path = $(this).attr('data-include-path');
                $(this).load(path,function(response,status,xhr){
                    if(status == 'error'){
                        var msg = 'Sory but there was an error:';
                        $(this).html(msg + xhr.status + '' + xhr.statusText);
                    }
                })
            })
        })
    </script>
    <!-- 인크루드 퍼블용 스크립트 :  개발에서는 사용안함-->

    <!-- 차량선택 -->
    <div id="estimate1" class="layerpopup laypop-all" style="display:none;">
        <div class="content-wrap txt-detail-area form">
            <div class="pop-header">
                <h2 class="pop-title">차량 선택</h2>
                <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
            </div>

            <div class="ly-con-wrap ly-scroll-con" id="">
                <div class="txt-list-wrap">
                    <ul class="txt-detail-cont form-wrap">
                        <li class="form-group">
                            <span class="tit">브랜드</span>
                            <div class="select-wrap">
                                <button class="btn-select pop img hd">현대</button>
                            </div>
                        </li>
                        <li class="form-group">
                            <span class="tit">모델</span>
                            <div class="select-wrap">
                                <button class="btn-select pop">디 올뉴그랜저</button>
                            </div>
                        </li>
                        <li class="form-group">
                            <span class="tit">라인업</span>
                            <div class="select-wrap">
                                <button class="btn-select pop">디 올뉴그랜저</button>
                                <p>(개소세 환원)</p>
                            </div>
                        </li>
                        <li class="form-group">
                            <span class="tit">트림</span>
                            <div class="select-wrap">
                                <button class="btn-select pop">2WD</button>
                                <p class="num">55,480,000 원</p>
                            </div>
                        </li>
                        <li class="form-group">
                            <span class="tit">만기</span>
                            <div class="select-wrap">
                                <button class="btn-select pop">선택형</button>
                            </div>
                        </li>
                        <li class="form-group">
                            <span class="tit">약정거리</span>
                            <div class="select-wrap">
                                <button class="btn-select pop">2만 km</button>
                                <p class="num">0 원</p>
                            </div>
                        </li>
                        <li class="form-group">
                            <span class="tit">외장</span>
                            <div class="select-wrap">
                                <button class="btn-select pop">어비스 블랙 펄</button>
                                <p class="num">0 원</p>
                            </div>
                        </li>
                        <li class="form-group">
                            <span class="tit">내장</span>
                            <div class="select-wrap">
                                <button class="btn-select pop">블랙</button>
                                <p class="num">0 원</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="txt-detail-footer">
                    <div class="footer-group">
                        <p class="tit">기본가격(+색상)</p>
                        <span class="txt"><span class="num">55,480,00</span> 원</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-btn-wrap">
            <div class="btn-wrap">
                <a href="#none" class="btn btn-primary confirm">다음(옵션선택)</a>
            </div>
        </div>
    </div>

    <!-- pc버전-scroll -->
    <div id="termsPop01" class="layerpopup laypop" tabindex="0" style="display:none;">
        <div class="content-wrap">
            <div class="pop-header">
                <h2 class="pop-title">개인정보 수집·이용·제공 동의서</h2>
                <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
            </div>
            <div class="ly-con-wrap ly-scroll-con">
                <div class="scroll">
                    <p>본인은 NICE신용평가정보(주)(이하 '회사'라 함)가 에스케이텔레콤(주), (주)케이티, LG유플러스(주)등 통신사로부터 위탁 받아 제공하는 휴대폰 본인확인 서비스를 이용하기 위하여, 다음과 같이 '회사'가 본인의 개인정보를 수집·이용·제공 및 취급위탁 하는데 동의합니다.</p>

                    <dl>
                        <dt class="tit">1. 개인정보의 수집·이용 목적</dt>
                        <dd>
                            <ul>
                                <li>- 가. 본인(서비스 이용자 포함)이 입력한 본인확인정보의 정확성 여부 확인</li>
                                <li>- 나. 휴대폰 소지 확인을 위한 SMS(또는 LMS) 인증번호 전송</li>
                                <li>- 다. 기타 법률에서 정한 목적 및 서비스 관련 상담 처리 등</li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt class="tit">2. 수집하려는 개인정보의 항목</dt>
                        <dd>
                            <ul>
                                <li>- 가. 개인의 성명, 성별·주민등록번호, 내외국인, 휴대폰번호, 이동통신사</li>
                                <li>- 나. 연계정보(CI), 중복확인정보(DI)</li>
                                <li>- 다. 본인(서비스 이용자 포함)이 이용하는 웹사이트 또는 Application 정보</li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt class="tit">3. 개인정보의 제공 및 취급위탁</dt>
                        <dd>
                            <ul>
                                <li>- 가. 제공항목 : 수집한 개인정보 항목</li>
                                <li>- 나. 제공받는 자(수탁자) : 에스케이텔레콤, 케이티, LG유플러스, 삼성SDS, 드림시큐리티, 모빌리언스, SK네트웍스, 케이스카바이, 다날</li>
                                <li>- 다. 제공받는자의 이용목적(취급위탁 업무) : 휴대폰 본인확인서비스 제공</li>
                            </ul>
                        </dd>
                    </dl>

                    <dl>
                        <dt class="tit">4. 개인정보의 보유 및 이용기간</dt>
                        <dd>
                            <ul>
                                <li>
                                    본인의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다.
                                    단 다음의 정보에 대해서는 아래의 이유로 명기한 기간 동안 보유합니다.
                                </li>
                                <li>
                                    가. 회사 내부 방침에 의한 정보보유 사유
                                    <ul class="subli">
                                        <li>본인확인 발생 및 차단기록, 휴대폰번호</li>
                                        <li>보유 이유 : 부정 이용 방지 및 민원 처리</li>
                                        <li>보유 기간 : 5년</li>
                                    </ul>
                                </li>
                                <li>
                                    나. 관계법령에 의한 정보보유 사유
                                    <ul class="subli">
                                        <li>이용자 불만 또는 분쟁 처리에 관한 기록</li>
                                        <li>보유 이유 : 전자상거래 등에서의 소비자보호에 관한 법률</li>
                                        <li>보유 기간 : 3년</li>
                                    </ul>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <p class="tit">5. 본인은 동의를 거부할 권리가 있으며, 동의하지 않으실 경우 서비스를 이용하실 수 없습니다.</p>
                </div>
            </div>
            <div class="bottom-btn-wrap">
                <div class="btn-wrap">
                    <a href="javascript:void(0);" class="btn btn-primary confirm" data-focus="btn-layer-close">확인</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

