<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="ORIX Capital keywords">
    <meta name="description" content="ORIX Capital description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta property="og:locale" content="ko_KR" />
	<meta property="og:type" content="website" />

	<link href="../../resources/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/renewal.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/content.css" rel="stylesheet" type="text/css" />
    

    <script type="text/javascript" src="../../resources/js/jquery.js"></script>
    <script type="text/javascript" src="../../resources/js/default.js"></script>
    <script type="text/javascript" src="../../resources/js/jquery-1.9.1.min.js"></script>

</head>
<body>
    <div class="wrap">

		<div data-include-path="../INCLUDE/header.html"></div>

        <div id="contentWrap" class="sub-content">
            <div class="contents-wrap estimate">
                <section class="breadcrumb-wrap">
                    <ul>
                        <li class="home"><a href="javascript:void(0);">홈</a></li>
                        <li><a href="javascript:void(0);">신차</a></li>
                        <li><a href="javascript:void(0);">견적내기</a></li>
                    </ul>
                </section>
                <section class="tab-wrap">
                    <ul class="step icon flex">
                        <li class="car pre"><span>차량선택</span></li>
                        <li class="info pre"><span>상세정보입력</span></li>
                        <li class="esti on"><span>견적내기</span></li>
                        <li class="view next"><span>견적서보기</span></li>
                    </ul>
                </section>
                <section class="specifications-wrap">
                    <div class="sfc-box">
                        <div class="car-img">
                            <div class="img hd-01"></div>
                            <p>현대 디 올뉴그랜저 스마트스트림 가솔린 2.5</p>
                        </div>
                        <div class="txt-list-wrap car-info">
                            <div class="txt-detail-area">
                                <div class="txt-detail-header">
                                    <p class="tit">사양 요약정보</p>
                                </div>
                                <ul class="txt-detail-cont">
                                    <li>
                                        <span class="tit">배기량</span>
                                        <span class="txt">19원 ・ 2497cc</span>
                                    </li>
                                    <li>
                                        <span class="tit">년식</span>
                                        <span class="txt">2024년형</span>
                                    </li>
                                    <li>
                                        <span class="tit">엔진유형</span>
                                        <span class="txt">가솔린</span>
                                    </li>
                                    <li>
                                        <span class="tit">차종</span>
                                        <span class="txt">대형차</span>
                                    </li>
                                    <li>
                                        <span class="tit">차형</span>
                                        <span class="txt">세단</span>
                                    </li>
                                    <li>
                                        <span class="tit">용도</span>
                                        <span class="txt">일반</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <a href="javascript:void(0);" class="btn btn-primary">제원</a>
                        <a href="javascript:void(0);" class="btn btn-primary">가격표</a>
                        <a href="javascript:void(0);" class="btn btn-primary">카탈로그</a>
                    </div>
                </section>
                <section class="txt-list-wrap">
                    <!-- 차량선택 -->
                    <div class="txt-detail-area form mo" onclick="openPopup('estimate1')">
                        <div class="txt-detail-header">
                            <p class="tit">차량선택</p>
                            <span class="yes">확인완료</span>
                        </div>
                        <ul class="txt-detail-cont form-wrap">
                            <li class="form-group">
                                <span class="tit">브랜드</span>
                                <div class="select-wrap">
                                    <button class="btn-select pop img hd">현대</button>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">모델</span>
                                <div class="select-wrap">
                                    <button class="btn-select pop">디 올뉴그랜저</button>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">라인업</span>
                                <div class="select-wrap">
                                    <button class="btn-select pop">디 올뉴그랜저</button>
                                    <p>(개소세 환원)</p>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">트림</span>
                                <div class="select-wrap">
                                    <button class="btn-select pop">2WD</button>
                                    <p class="num">55,480,000 원</p>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">만기</span>
                                <div class="select-wrap">
                                    <button class="btn-select pop">선택형</button>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">약정거리</span>
                                <div class="select-wrap">
                                    <button class="btn-select pop">2만 km</button>
                                    <p class="num">0 원</p>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">외장</span>
                                <div class="select-wrap">
                                    <button class="btn-select pop">어비스 블랙 펄</button>
                                    <p class="num">0 원</p>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">내장</span>
                                <div class="select-wrap">
                                    <button class="btn-select pop">블랙</button>
                                    <p class="num">0 원</p>
                                </div>
                            </li>
                        </ul>
                        <div class="txt-detail-footer">
                            <p class="tit">기본가격(+색상)</p>
                            <span class="txt"><span class="num">55,480,00</span> 원</span>
                        </div>
                    </div>
                    <!-- 옵션선택 -->
                    <div class="txt-detail-area form mo" onclick="openPopup('estimate2')">
                        <div class="txt-detail-header">
                            <p class="tit">옵션선택</p>
                            <span class="no">미확인</span>
                        </div>
                        <ul class="txt-detail-cont form-wrap">
                            <li class="check-buttons">
                                <div class="check-top">
                                    <input type="checkbox" id="check01" name="terms">
                                    <label for="check01" class="check-button tit">
                                        <span class="text">파노라마 선루프</span>
                                    </label>
                                    <span class="txt"><span class="num">5,040,000</span>원</span>
                                </div>
                                <p class="description">헤드업 디스플레이, 하이테크 패키지, 드라이빙 어시스턴츠 패키지, 2열 컴포트 패키지</p>
                            </li>
                            <li class="check-buttons">
                                <div class="check-top">
                                    <input type="checkbox" id="check02" name="terms">
                                    <label for="check02" class="check-button tit">
                                        <span class="text">헤드업 디스플레이</span>
                                    </label>
                                    <span class="txt"><span class="num">1,880,000</span>원</span>
                                </div>
                                <p class="description">운전석&동승석 에르고 모션 시트(18방향, 쿠션 익스텐션, 볼스터 전동 조절 적둉, 스트레칭 모드 포함), 고스트 도어 들로징, 2열 컴포트 패키지</p>
                            </li>
                            <li class="check-buttons">
                                <div class="check-top">
                                    <input type="checkbox" id="check03" name="terms">
                                    <label for="check03" class="check-button tit">
                                        <span class="text">플래티넘</span>
                                    </label>
                                    <span class="txt"><span class="num">1,880,000</span>원</span>
                                </div>
                                <p class="description">운전석&동승석 에르고 모션 시트(18방향, 쿠션 익스텐션, 볼스터 전동 조절 적둉, 스트레칭 모드 포함), 고스트 도어 들로징, 2열 컴포트 패키지</p>
                            </li>
                            <li class="check-buttons">
                                <div class="check-top">
                                    <input type="checkbox" id="check04" name="terms">
                                    <label for="check04" class="check-button tit">
                                        <span class="text">파트 어시스트</span>
                                    </label>
                                    <span class="txt"><span class="num">1,880,000</span>원</span>
                                </div>
                                <p class="description">운전석&동승석 에르고 모션 시트(18방향, 쿠션 익스텐션, 볼스터 전동 조절 적둉, 스트레칭 모드 포함</p>
                            </li>
                            <li class="plus-box">
                                <ul class="form-wrap">
                                    <li class="form-group">
                                        <span class="tit">구분</span>
                                        <div class="select-wrap">
                                            <button class="btn-select">옵션에 표시</button>
                                        </div>
                                    </li>
                                    <li class="form-group">
                                        <span class="tit">명칭</span>
                                        <div class="amount">
                                            <input id="" type="amount" class="form-control" placeholder="옵션명">
                                        </div>
                                    </li>
                                    <li class="form-group">
                                        <span class="tit">구분</span>
                                        <div class="amount">
                                            <input id="" type="amount" class="form-control amount-num" placeholder="0" inputmode="numeric"><!--inputmode="numeric" : 세자리 수마다 콤마 적용-->
                                            <span class="amount-txt">원</span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="btn-wrap">
                                    <button class="btn btn-primary">적용</button>
                                </div>
                            </li>
                        </ul>
                        <div class="txt-detail-footer">
                            <p class="tit">옵션 합계 (7)</p>
                            <span class="txt"><span class="num">5,840,000</span> 원</span>
                        </div>
                    </div>
                    <!-- 지불내역 -->
                    <div class="txt-detail-area form  mo" onclick="openPopup('estimate3')">
                        <div class="txt-detail-header">
                            <p class="tit">지불내역</p>
                            <span class="no">미확인</span>
                        </div>
                        <ul class="txt-detail-cont form-wrap result">
                            <li class="form-group">
                                <span class="tit">상품</span>
                                <div class="select-wrap">
                                    <button class="btn-select pop">표준형 오빌리티 할부</button>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">기간</span>
                                <div class="select-wrap">
                                    <button class="btn-select">45개월</button>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">거치</span>
                                <div class="select-wrap">
                                    <button class="btn-select">12개월 포함</button>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">원금</span>
                                <div class="select-wrap">
                                    <button class="btn-select">선수율 15%</button>
                                    <p class="num">55,480,000 원</p>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">유예</span>
                                <div class="select-wrap">
                                    <button class="btn-select">없음</button>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">금리</span>
                                <div class="select-wrap">
                                    <button class="btn-select">4.6%(거치기간 6.9%)</button>
                                </div>
                            </li>
                            <li class="result-box">
                                <span class="tit">이자합계</span>
                                <span class="txt"><span class="num">9,347,184</span>원</span>
                            </li>
                            <li class="form-group">
                                <span class="tit">계약금</span>
                                <div class="select-wrap">
                                    <button class="btn-select">500,000원</button>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">인도금</span>
                                <div class="select-wrap">
                                    <div class="select-group">
                                        <span class="tit">인도금</span>
                                        <button class="btn-select w140">500,000원</button>
                                    </div>
                                    <div class="select-group">
                                        <span class="tit">의무보험</span>
                                        <button class="btn-select w140">500,000원</button>
                                    </div>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">등록비</span>
                                <span class="txt"><span>6,088,700</span>원</span>
                            </li>
                            <li class="form-group">
                                <span class="tit">잔존가치</span>
                                <div class="select-wrap">
                                    <button class="btn-select">59%</button>
                                    <p class="num">26,526,000 원</p>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">캐시백</span>
                                <span class="txt">0원</span>
                            </li>
                            <li class="form-group">
                                <span class="tit">서비스</span>
                                <!-- <span class="txt"></span> -->
                            </li>
                        </ul>
                        <div class="txt-detail-footer">
                            <div class="footer-group key">
                                <p class="tit">월 할부금</p>
                                <span class="txt"><span class="num">1,888,658</span>원(거치기간<span>324,300</span>원)</span>
                            </div>
                            <div class="footer-group key">
                                <p class="tit">초기비용</p>
                                <span class="txt"><span class="num">16,090,600</span>원</span>
                            </div>
                        </div>
                    </div>
                    <!-- 할인 선택(2023-11) -->
                    <div class="txt-detail-area form cost mo" onclick="openPopup('estimate4')">
                        <div class="txt-detail-header">
                            <p class="tit">할인 선택(2023-11)</p>
                            <span class="no">미확인</span>
                        </div>
                        <ul class="txt-detail-cont form-wrap">
                            <li class="result-box">
                                <span class="tit">예상 납기일</span>
                                <div class="btn-wrap">
                                    <span class="txt">2주</span>
                                    <button class="btn btn-primary">즉시출고(렌트)보기</button>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">면세</span>
                                <div class="amount">
                                    <input id="" type="amount" class="form-control" placeholder="일반인(해당없음)">
                                    <p class="num">0원</p>
                                </div>
                            </li>
                            <li class="form-group radio-buttons">
                                <span class="tit">생산월 조건</span>
                                <div class="radio-group">
                                    <label for="radio-1" class="radio-button">
                                        <input type="radio" id="radio-1" name="terms">
                                        <span class="custom-radio"></span>
                                        <span class="text">(10%) 5월 이전 생산</span>
                                    </label>
                                    <span class="num">6,640,000 원</span>
                                </div>
                                <div class="radio-group">
                                    <label for="radio-2" class="radio-button">
                                        <input type="radio" id="radio-2" name="terms">
                                        <span class="custom-radio"></span>
                                        <span class="text">(7%) 6~7월 생산</span>
                                    </label>
                                    <span class="num">4,648,000 원</span>
                                </div>
                                <div class="radio-group">
                                    <label for="radio-3" class="radio-button">
                                        <input type="radio" id="radio-3" name="terms">
                                        <span class="custom-radio"></span>
                                        <span class="text">(5%) 8~9월 생산</span>
                                    </label>
                                    <span class="num">3,320,000 원</span>
                                </div>
                            </li>
                            <li class="form-group radio-buttons">
                                <span class="tit">전시차</span>
                                <div class="radio-group">
                                    <label for="radio-4" class="radio-button">
                                        <input type="radio" id="radio-4" name="term2">
                                        <span class="custom-radio"></span>
                                        <span class="text"></span>
                                    </label>
                                    <span class="num">500,000 원</span>
                                </div>
                            </li>
                        </ul>
                        <div class="txt-detail-footer">
                            <p class="tit">할인 합계</p>
                            <span class="txt"><span>0</span> 원</span>
                        </div>
                    </div>
                    <!-- 등록/부대비용 -->
                    <div class="txt-detail-area form cost mo" onclick="openPopup('estimate5')">
                        <div class="txt-detail-header">
                            <p class="tit">등록/부대비용</p>
                            <span class="no">미확인</span>
                        </div>
                        <ul class="txt-detail-cont form-wrap result">
                            <li class="form-group">
                                <span class="tit">지역</span>
                                <div class="select-wrap">
                                    <button class="btn-select">서울</button>
                                    <div class="select-list">
                                        <ul>
                                            <li><button type="button">서울</button></li>
                                            <li><button type="button">경기도</button></li>
                                            <li><button type="button">강원도</button></li>
                                            <li><button type="button">경상남도</button></li>
                                            <li><button type="button">전라남도</button></li>
                                            <li><button type="button">전라북도</button></li>
                                            <li><button type="button">충청남도</button></li>
                                            <li><button type="button">충청북도</button></li>
                                            <li><button type="button">제주도</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">취득세</span>
                                <span class="txt"><span>(7%) 4,225,450</span>원</span>
                            </li>
                            <li class="form-group radio-buttons">
                                <span class="tit">채권</span>
                                <div class="radio-group">
                                    <label for="radio-5" class="radio-button">
                                        <input type="radio" id="radio-5" name="terms3">
                                        <span class="custom-radio"></span>
                                        <span class="text">매입</span>
                                    </label>
                                    <span class="num">(20%) 12,075,000 원</span>
                                </div>
                                <div class="radio-group">
                                    <label for="radio-6" class="radio-button">
                                        <input type="radio" id="radio-6" name="terms3">
                                        <span class="custom-radio"></span>
                                        <span class="text">할인</span>
                                    </label>
                                    <div class="dp-inb">
                                        <div class="amount w140">
                                            <input id="" type="amount" class="form-control amount-num" placeholder="15" inputmode="numeric"><!--inputmode="numeric" : 세자리 수마다 콤마 적용-->
                                            <span class="amount-txt">%</span>
                                        </div>
                                        <span class="num">1,811,250 원</span>
                                    </div>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">기타</span>
                                <div class="select-wrap">
                                    <div class="select-group">
                                        <span class="tit">인지대/번호판/대행료</span>
                                        <div class="amount w140">
                                            <input id="" type="amount" class="form-control amount-num" placeholder="52,000" inputmode="numeric"><!--inputmode="numeric" : 세자리 수마다 콤마 적용-->
                                            <span class="amount-txt">원</span>
                                        </div>
                                    </div>
                                    <div class="select-group">
                                        <span class="tit">의무보험료</span>
                                        <div class="amount w140">
                                            <input id="" type="amount" class="form-control amount-num" placeholder="1,900" inputmode="numeric"><!--inputmode="numeric" : 세자리 수마다 콤마 적용-->
                                            <span class="amount-txt">원</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">경비</span>
                                <div class="select-wrap">
                                    <button class="btn-select pop">Self(자가경비)</button>
                                </div>
                            </li>
                        </ul>
                        <div class="txt-detail-footer">
                            <div class="footer-group">
                                <p class="tit">등록 합계</p>
                                <span class="txt"><span>0</span> 원</span>
                            </div>
                            <div class="footer-group key">
                                <p class="tit">총 소요비용</p>
                                <span class="txt"><span>72,490,600</span>원</span>
                            </div>
                        </div>
                    </div>
                    <!-- 고객정보 -->
                    <div class="txt-detail-area form cost mo" onclick="openPopup('estimate6')">
                        <div class="txt-detail-header">
                            <p class="tit">고객정보</p>
                            <span class="no">미확인</span>
                        </div>
                        <ul class="txt-detail-cont form-wrap c-info">
                            <li class="form-group radio-buttons">
                                <span class="tit">고객구분</span>
                                <div class="radio-group">
                                    <label for="radio-7" class="radio-button">
                                        <input type="radio" id="radio-7" name="terms4">
                                        <span class="custom-radio"></span>
                                        <span class="text">개인</span>
                                    </label>
                                </div>
                                <div class="radio-group">
                                    <label for="radio-8" class="radio-button">
                                        <input type="radio" id="radio-8" name="terms4">
                                        <span class="custom-radio"></span>
                                        <span class="text">개인사업자</span>
                                    </label>
                                </div>
                                <div class="radio-group">
                                    <label for="radio-9" class="radio-button">
                                        <input type="radio" id="radio-9" name="terms4">
                                        <span class="custom-radio"></span>
                                        <span class="text">법인</span>
                                    </label>
                                </div>
                            </li>
                            <li class="form-group radio-buttons">
                                <span class="tit">임직원 한정 운전 특약</span>
                                <div class="radio-group">
                                    <label for="radio-10" class="radio-button">
                                        <input type="radio" id="radio-10" name="terms5">
                                        <span class="custom-radio"></span>
                                        <span class="text">가입 (임직원 외 운행시 보상 불가)</span>
                                    </label>
                                </div>
                                <div class="radio-group">
                                    <label for="radio-11" class="radio-button">
                                        <input type="radio" id="radio-11" name="terms5">
                                        <span class="custom-radio"></span>
                                        <span class="text">미가입 (전액 손금 불인정)</span>
                                    </label>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">보험</span>
                                <div class="select-wrap">
                                    <button class="btn-select pop">26세 이상 ~ 75세 이하, 1억, 30만원</button>
                                </div>
                            </li>
                            <li class="form-group radio-buttons">
                                <span class="tit">조건부업종</span>
                                <div class="radio-group">
                                    <label for="radio-12" class="radio-button">
                                        <input type="radio" id="radio-12" name="terms6">
                                        <span class="custom-radio"></span>
                                        <span class="text">해당</span>
                                    </label>
                                </div>
                                <div class="radio-group">
                                    <label for="radio-13" class="radio-button">
                                        <input type="radio" id="radio-13" name="terms6">
                                        <span class="custom-radio"></span>
                                        <span class="text">해당없음</span>
                                    </label>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">CM 선택</span>
                                <div class="btn-wrap">
                                    <span class="txt">선택없음</span>
                                    <button class="btn btn-primary">검색</button>
                                </div>
                            </li>
                            <li class="form-group">
                                <span class="tit">담당지점</span>
                                <span class="txt">부산센터 부산오토점</span>
                            </li>
                        </ul>
                    </div>
                    <!-- 탁송정보 -->
                    <div class="txt-detail-area mo" onclick="openPopup('estimate7')">
                        <div class="table-type table-col form-wrap">
                            <table>
                                <caption>탁송 정보 선택 및 시/도 선택</caption>
                                <colgroup>
                                    <col width="20%">
                                    <col width="*">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th scope="col" rowspan="2">
                                            탁송 정보
                                            <span class="no">미확인</span>
                                        </th>
                                        <td class="tit">
                                            <div class="form-group radio-buttons">
                                                <label for="radio-14" class="radio-button">
                                                    <input type="radio" id="radio-14" name="terms7">
                                                    <span class="custom-radio"></span>
                                                    <span class="text">배송</span>
                                                </label>
                                                <label for="radio-15" class="radio-button">
                                                    <input type="radio" id="radio-15" name="terms7">
                                                    <span class="custom-radio"></span>
                                                    <span class="text">본인출고</span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tit">
                                            <ul>
                                                <li class="form-group">
                                                    <div class="select-wrap">
                                                        <button class="btn-select pop w140">시/도</button>
                                                    </div>
                                                </li>
                                                <li class="form-group">
                                                    <div class="select-wrap">
                                                        <button class="btn-select pop w140">시/군/구</button>
                                                    </div>
                                                </li>
                                                <li class="form-group">
                                                    <div class="select-wrap">
                                                        <button class="btn-select pop w140">출고장</button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- 총 소요비용 -->
                    <ul class="all-cost-area">
                        <li class="cost-group">
                            <span class="tit">손수차량가격</span>
                            <span class="txt">66,400,000원</span>
                        </li>
                        <li class="cost-group">
                            <span class="tit">세금계산서반영</span>
                            <span class="txt">66,400,000원</span>
                        </li>
                        <li class="cost-group">
                            <span class="tit">가격합계</span>
                            <span class="txt">66,400,000원</span>
                        </li>
                    </ul>
                </section>
                <section class="bottom-btn-wrap">
                    <div class="btn-wrap">
                        <button class="btn btn-primary">견적추가</button>
                    </div>
                </section>
                <!-- 견적추가 클릭 시 생성 -->
                <section class="txt-list-wrap estimate">
                    <div class="txt-detail-area" tabindex="0">
                        <div class="txt-detail-header">
                            <p class="tit">견적1</p>
                            <div class="btn-wrap">
                                <button class="btn delete">삭제</button>
                            </div>
                        </div>
                        <ul class="txt-detail-cont">
                            <li>
                                <span class="tit">상품</span>
                                <span class="txt">표준형 모빌리티 할부</span>
                            </li>
                            <li>
                                <span class="tit">만기</span>
                                <span class="txt">선택형</span>
                            </li>
                            <li>
                                <span class="tit">기간</span>
                                <span class="txt">60개월</span>
                            </li>
                            <li>
                                <span class="tit">차종</span>
                                <span class="txt">대형차</span>
                            </li>
                            <li>
                                <span class="tit">약정거리</span>
                                <span class="txt">2만km</span>
                            </li>
                            <li>
                                <span class="tit">정비</span>
                                <span class="txt">Self(자가경기)</span>
                            </li>
                            <li>
                                <span class="tit">총 소요비용</span>
                                <span class="txt">72,490,600 원</span>
                            </li>
                            <li>
                                <span class="tit">금리</span>
                                <span class="txt">4.6% (거치기간 6.9%)</span>
                            </li>
                            <li>
                                <span class="tit">잔존가치</span>
                                <span class="txt">(52%) 23,379,000 원</span>
                            </li>
                            <li>
                                <span class="tit">출고전납입</span>
                                <span class="txt">1,001,900 원</span>
                            </li>
                        </ul>
                        <div class="txt-detail-footer">
                            <p class="tit">월 납입금</p>
                            <span class="txt"><span class="num">620,225</span> 원</span>
                        </div>
                    </div>
                    <div class="txt-detail-area" tabindex="0">
                        <div class="txt-detail-header">
                            <p class="tit">견적2</p>
                            <div class="btn-wrap">
                                <button class="btn delete">삭제</button>
                            </div>
                        </div>
                        <ul class="txt-detail-cont">
                            <li>
                                <span class="tit">상품</span>
                                <span class="txt">표준형 모빌리티 할부</span>
                            </li>
                            <li>
                                <span class="tit">만기</span>
                                <span class="txt">선택형</span>
                            </li>
                            <li>
                                <span class="tit">기간</span>
                                <span class="txt">48개월</span>
                            </li>
                            <li>
                                <span class="tit">차종</span>
                                <span class="txt">대형차</span>
                            </li>
                            <li>
                                <span class="tit">약정거리</span>
                                <span class="txt">2만km</span>
                            </li>
                            <li>
                                <span class="tit">정비</span>
                                <span class="txt">Self(자가경기)</span>
                            </li>
                            <li>
                                <span class="tit">총 소요비용</span>
                                <span class="txt">72,490,600 원</span>
                            </li>
                            <li>
                                <span class="tit">금리</span>
                                <span class="txt">4.6% (거치기간 6.9%)</span>
                            </li>
                            <li>
                                <span class="tit">잔존가치</span>
                                <span class="txt">(52%) 23,379,000 원</span>
                            </li>
                            <li>
                                <span class="tit">출고전납입</span>
                                <span class="txt">1,001,900 원</span>
                            </li>
                        </ul>
                        <div class="txt-detail-footer">
                            <p class="tit">월 납입금</p>
                            <span class="txt"><span class="num">595,305</span> 원</span>
                        </div>
                    </div>
                    <div class="txt-detail-area" tabindex="0">
                        <div class="txt-detail-header">
                            <p class="tit">견적3</p>
                            <div class="btn-wrap">
                                <button class="btn delete">삭제</button>
                            </div>
                        </div>
                        <ul class="txt-detail-cont">
                            <li>
                                <span class="tit">상품</span>
                                <span class="txt">표준형 모빌리티 할부</span>
                            </li>
                            <li>
                                <span class="tit">만기</span>
                                <span class="txt">선택형</span>
                            </li>
                            <li>
                                <span class="tit">기간</span>
                                <span class="txt">36개월</span>
                            </li>
                            <li>
                                <span class="tit">차종</span>
                                <span class="txt">대형차</span>
                            </li>
                            <li>
                                <span class="tit">약정거리</span>
                                <span class="txt">2만km</span>
                            </li>
                            <li>
                                <span class="tit">정비</span>
                                <span class="txt">Self(자가경기)</span>
                            </li>
                            <li>
                                <span class="tit">총 소요비용</span>
                                <span class="txt">72,490,600 원</span>
                            </li>
                            <li>
                                <span class="tit">금리</span>
                                <span class="txt">4.6% (거치기간 6.9%)</span>
                            </li>
                            <li>
                                <span class="tit">잔존가치</span>
                                <span class="txt">(52%) 23,379,000 원</span>
                            </li>
                            <li>
                                <span class="tit">출고전납입</span>
                                <span class="txt">1,001,900 원</span>
                            </li>
                        </ul>
                        <div class="txt-detail-footer">
                            <p class="tit">월 납입금</p>
                            <span class="txt"><span class="num">645,912</span> 원</span>
                        </div>
                    </div>
                </section>
                <section class="bottom-btn-wrap">
                    <div class="btn-wrap">
                        <button class="btn btn-primary">견적서 보기</button>
                    </div>
                </section>
            </div>
        </div>
        <div data-include-path="../INCLUDE/footer.html"></div>
    </div>

    <!-- 인크루드 퍼블용 스크립트 :  개발에서는 사용안함-->
	<script>
        $(function(){
            $('div[data-include-path]').each(function(){
                var path = $(this).attr('data-include-path');
                $(this).load(path,function(response,status,xhr){
                    if(status == 'error'){
                        var msg = 'Sory but there was an error:';
                        $(this).html(msg + xhr.status + '' + xhr.statusText);
                    }
                })
            })
        })
    </script>
    <!-- 인크루드 퍼블용 스크립트 :  개발에서는 사용안함-->
</body>
</html>

