<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="ORIX Capital keywords">
    <meta name="description" content="ORIX Capital description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta property="og:locale" content="ko_KR" />
	<meta property="og:type" content="website" />

	<link href="../../resources/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/renewal.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/content.css" rel="stylesheet" type="text/css" />
    

    <script type="text/javascript" src="../../resources/js/jquery.js"></script>
    <script type="text/javascript" src="../../resources/js/default.js"></script>
    <script type="text/javascript" src="../../resources/js/jquery-1.9.1.min.js"></script>

</head>
<body>
    <div class="wrap">

		<div data-include-path="../INCLUDE/header.html"></div>

        <div id="contentWrap" class="sub-content">
            <div class="contents-wrap">
                <section class="breadcrumb-wrap">
                    <ul>
                        <li class="home"><a href="javascript:void(0);">홈</a></li>
                        <li><a href="javascript:void(0);">신차</a></li>
                        <li><a href="javascript:void(0);">견적내기</a></li>
                    </ul>
                </section>
                <section class="tab-wrap">
					<ul class="step icon flex">
						<li class="car on"><span>차량선택</span></li>
						<li class="info next"><span>상세정보입력</span></li>
						<li class="esti next"><span>견적내기</span></li>
						<li class="view next"><span>견적서보기</span></li>
					</ul>
				</section>
                <section class="choose-wrap">
                    <h3 class="label">브랜드나 차종을 선택해 주세요</h3>
                    <div class="btn-wrap">
                        <a href="#javascript:viod();" class="btn btn-text-ico arr">발주 불러오기</a>
                    </div>
                    <div class="choose-group">
                        <div class="brand">
                            <ul class="domestic">
                                <li class="on">
                                    <button type="button">
                                        <img src="../../resources/images/logo/domestic/hyundai.png" alt="현대" class="logo">
                                        <span class="name">현대</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/domestic/genesis.png" alt="제네시스" class="logo">
                                        <span class="name">제네시스</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/domestic/kia.png" alt="기아" class="logo">
                                        <span class="name">기아</span>
                                    </button>
                                 </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/domestic/chevrolet.png" alt="쉐보레" class="logo">
                                        <span class="name">쉐보레</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/domestic/gmc.png" alt="GMC" class="logo">
                                        <span class="name">GMC</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/domestic/KGM.png" alt="KGM" class="logo">
                                        <span class="name">KGM</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/domestic/renault_korea.png" alt="르노코리아" class="logo">
                                        <span class="name">르노코리아</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/domestic/smart_ev.png" alt="SMART EV" class="logo">
                                        <span class="name">SMART EV</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/domestic/daechang_motors.png" alt="대창모터스" class="logo">
                                        <span class="name">대창모터스</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/domestic/dipico.png" alt="디피코" class="logo">
                                        <span class="name">디피코</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/domestic/cevomobility.png" alt="쎄보모빌리티" class="logo">
                                        <span class="name">쎄보모빌리티</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/domestic/genesis_mobility.png" alt="제이스모빌리티" class="logo">
                                        <span class="name">제이스모빌리티</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/domestic/EVKMC.png" alt="EVKMC" class="logo">
                                        <span class="name">EVKMC</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/domestic/maiv.png" alt="마이브" class="logo">
                                        <span class="name">마이브</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/domestic/mobility_network.png" alt="모빌리티 네트워크" class="logo">
                                        <span class="name">모빌리티 네트워크</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/domestic/evion.png" alt="이비온" class="logo">
                                        <span class="name">이비온</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/domestic/zyle_motor.png"  alt="자일자동차" class="logo">
                                        <span class="name">자일자동차</span>
                                    </button>
                                </li>
                            </ul>
                            <ul class="overseas">
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/toyota.png" alt="토요타" class="logo">
                                        <span class="name">토요타</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/lexus.png" alt="렉서스" class="logo">
                                        <span class="name">렉서스</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/honda.png" alt="혼다" class="logo">
                                        <span class="name">혼다</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/benz.png" alt="벤츠" class="logo">
                                        <span class="name">벤츠</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/bmw.png" alt="BMW" class="logo">
                                        <span class="name">BMW</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/audi.png" alt="아우디" class="logo">
                                        <span class="name">아우디</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/volkswagen.png" alt="폭스바겐" class="logo">
                                        <span class="name">폭스바겐</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/mini.png" alt="미니" class="logo">
                                        <span class="name">미니</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/volvo.png" alt="블보" class="logo">
                                        <span class="name">블보</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/polestar.png" alt="폴스타" class="logo">
                                        <span class="name">폴스타</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/land_rover.png" alt="랜드로버" class="logo">
                                        <span class="name">랜드로버</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/porsche.png" alt="포르쉐" class="logo">
                                        <span class="name">포르쉐</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/ferrari.png" alt="페라리" class="logo">
                                        <span class="name">페라리</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/lamborghini.png" alt="람보르기니" class="logo">
                                        <span class="name">람보르기니</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/maserati.png" alt="마세라티" class="logo">
                                        <span class="name">마세라티</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/mclaren.png" alt="맥라렌" class="logo">
                                        <span class="name">맥라렌</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/aston_martin.png " alt="애스터마틴" class="logo">
                                        <span class="name">애스터마틴</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/peugeot.png " alt="푸조" class="logo">
                                        <span class="name">푸조</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/ds.png " alt="DS" class="logo">
                                        <span class="name">DS</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/bentley.png " alt="벤틀리" class="logo">
                                        <span class="name">벤틀리</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/rolls_royce.png " alt="롤스로이스" class="logo">
                                        <span class="name">롤스로이스</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/lotus.png " alt="로터스" class="logo">
                                        <span class="name">로터스</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/ineos.png " alt="이네오스" class="logo">
                                        <span class="name">이네오스</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/koenigsegg.png " alt="코닉세그" class="logo">
                                        <span class="name">코닉세그</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/ford.png " alt="포드" class="logo">
                                        <span class="name">포드</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/lincoln.png " alt="링컨" class="logo">
                                        <span class="name">링컨</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/jeep.png " alt="지프" class="logo">
                                        <span class="name">지프</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/cadillac.png " alt="캐딜락" class="logo">
                                        <span class="name">캐딜락</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/tesla.png " alt="테슬라" class="logo">
                                        <span class="name">테슬라</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/rivn.png " alt="리비안" class="logo">
                                        <span class="name">리비안</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/pisker.png " alt="피스커" class="logo">
                                        <span class="name">피스커</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/byd.png " alt="BYD" class="logo">
                                        <span class="name">BYD</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/dongfeng.png " alt="동풍" class="logo">
                                        <span class="name">동풍</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/lucid.png " alt="루시드" class="logo">
                                        <span class="name">루시드</span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button">
                                        <img src="../../resources/images/logo/overseas/vinfast.png " alt="빈패스트" class="logo">
                                        <span class="name">빈패스트</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="txt-list-wrap">
                            <div class="txt-detail-area">
                                <div class="txt-detail-header">
                                    <p class="tit">승용</p>
                                </div>
                                <ul class="txt-detail-cont form-wrap">
                                    <li class="check-buttons">
                                        <div class="check-top">
                                            <input type="checkbox" id="check01" name="sedan">
                                            <label for="check01" class="check-button tit">
                                                <span class="text">경형</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="check-buttons">
                                        <div class="check-top">
                                            <input type="checkbox" id="check02" name="sedan">
                                            <label for="check02" class="check-button tit">
                                                <span class="text">소형</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="check-buttons">
                                        <div class="check-top">
                                            <input type="checkbox" id="check03" name="sedan">
                                            <label for="check03" class="check-button tit">
                                                <span class="text">중준형</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="check-buttons">
                                        <div class="check-top">
                                            <input type="checkbox" id="check04" name="sedan">
                                            <label for="check04" class="check-button tit">
                                                <span class="text">중형</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="check-buttons">
                                        <div class="check-top">
                                            <input type="checkbox" id="check05" name="sedan">
                                            <label for="check05" class="check-button tit">
                                                <span class="text">준대형</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="check-buttons">
                                        <div class="check-top">
                                            <input type="checkbox" id="check06" name="sedan">
                                            <label for="check06" class="check-button tit">
                                                <span class="text">대형</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="check-buttons">
                                        <div class="check-top">
                                            <input type="checkbox" id="check07" name="sedan">
                                            <label for="check07" class="check-button tit">
                                                <span class="text">스포츠카</span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="txt-detail-area">
                                <div class="txt-detail-header">
                                    <p class="tit">RV</p>
                                </div>
                                <ul class="txt-detail-cont form-wrap">
                                    <li class="check-buttons">
                                        <div class="check-top">
                                            <input type="checkbox" id="check08" name="rv">
                                            <label for="check08" class="check-button tit">
                                                <span class="text">경형 SUV</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="check-buttons">
                                        <div class="check-top">
                                            <input type="checkbox" id="check09" name="rv">
                                            <label for="check09" class="check-button tit">
                                                <span class="text">소형 SUV</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="check-buttons">
                                        <div class="check-top">
                                            <input type="checkbox" id="check10" name="rv">
                                            <label for="check10" class="check-button tit">
                                                <span class="text">중준형 SUV</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="check-buttons">
                                        <div class="check-top">
                                            <input type="checkbox" id="check11" name="rv">
                                            <label for="check11" class="check-button tit">
                                                <span class="text">중형 SUV</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="check-buttons">
                                        <div class="check-top">
                                            <input type="checkbox" id="check12" name="rv">
                                            <label for="check12" class="check-button tit">
                                                <span class="text">대형 SUV</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="check-buttons">
                                        <div class="check-top">
                                            <input type="checkbox" id="check13" name="rv">
                                            <label for="check13" class="check-button tit">
                                                <span class="text">RV/MPV</span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="txt-detail-area">
                                <div class="txt-detail-header">
                                    <p class="tit">상용</p>
                                </div>
                                <ul class="txt-detail-cont form-wrap">
                                    <li class="check-buttons">
                                        <div class="check-top">
                                            <input type="checkbox" id="check14" name="commercial">
                                            <label for="check14" class="check-button tit">
                                                <span class="text">승합</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="check-buttons">
                                        <div class="check-top">
                                            <input type="checkbox" id="check15" name="commercial">
                                            <label for="check15" class="check-button tit">
                                                <span class="text">화물</span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- 브랜드와 차종을 선택했을 때 -->
                    <div class="filter">
                        <ul>
                            <li class="filter-btn" tabindex="0">현대</li>
                            <li class="filter-btn" tabindex="0">준대형</li>
                            <li class="filter-btn" tabindex="0">승합</li>
                        </ul>
                    </div>
                    <div class="btn-wrap">
                        <a href="#javascript:viod();" class="btn btn-text-ico reset">선택초기화</a>
                    </div>
                    <h3 class="label">모델을 선택해 주세요</h3>
                    <div class="choose-group">
                        <div class="model-wrap">
                            <div class="model-group">
                                <p class="sub-title">준대형</p>
                                <ul>
                                    <li class="model on">
                                        <button type="button">
                                            <img src="../../resources/images/car/hd_mb_01.png" alt="디 올 뉴 그랜저" class="car">
                                            <span class="name">디 올 뉴 그랜저</span>
                                        </button>
                                    </li>
                                    <li class="model">
                                        <button type="button">
                                            <img src="../../resources/images/car/hd_mb_02.png" alt="디 올 뉴 그랜저 HEV" class="car">
                                            <span class="name">디 올 뉴 그랜저 HEV</span>
                                        </button>
                                    </li>
                                    <li class="model">
                                        <button type="button">
                                            <img src="../../resources/images/car/hd_mb_03.png" alt="아이오닉 6" class="car">
                                            <span class="name">아이오닉 6</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="model-group">
                                <p class="sub-title">승합</p>
                                <ul>
                                    <li class="model">
                                        <button type="button">
                                            <img src="../../resources/images/car/hd_van_01.png" alt="스타리아" class="car">
                                            <span class="name">스타리아</span>
                                        </button>
                                    </li>
                                    <li class="model">
                                        <button type="button">
                                            <img src="../../resources/images/car/hd_van_02.png" alt="스타리아 HEV" class="car">
                                            <span class="name">스타리아 HEV</span>
                                        </button>
                                    </li>
                                    <li class="model">
                                        <button type="button">
                                            <img src="../../resources/images/car/hd_van_03.png" alt="쏠라티" class="car">
                                            <span class="name">쏠라티</span>
                                        </button>
                                    </li>
                                    <li class="model">
                                        <button type="button">
                                            <img src="../../resources/images/car/hd_van_04.png" alt="카운티" class="car">
                                            <span class="name">카운티</span>
                                        </button>
                                    </li>
                                    <li class="model">
                                        <button type="button">
                                            <img src="../../resources/images/car/hd_van_05.png" alt="카운티 일렉트릭" class="car">
                                            <span class="name">카운티 일렉트릭</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div data-include-path="../INCLUDE/footer.html"></div>
    </div>

    <!-- 인크루드 퍼블용 스크립트 :  개발에서는 사용안함-->
	<script>
        $(function(){
            $('div[data-include-path]').each(function(){
                var path = $(this).attr('data-include-path');
                $(this).load(path,function(response,status,xhr){
                    if(status == 'error'){
                        var msg = 'Sory but there was an error:';
                        $(this).html(msg + xhr.status + '' + xhr.statusText);
                    }
                })
            })
        })
    </script>
    <!-- 인크루드 퍼블용 스크립트 :  개발에서는 사용안함-->
</body>
</html>

